<div class="input-group">
    <span class="input-group-btn">
        <span class="btn btn-default" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-model="form['str']">STR</span>
    </span>
    <input type="number" placeholder="DV" class="form-control" ng-model="form['damage']">
    <span class="input-group-btn">
        <dropselect ngModel="form['damageType']">
            <li value="P"><a>Physical</a></li>
            <li value="S"><a>Stun</a></li>
            <li value="M"><a>Matrix</a></li>
        </dropselect>
    </span>
    <span class="input-group-btn">
        <dropselect ngModel="form['damageElement']" items="elements">
        </dropselect>
    </span>

</div>