<div class="page-header">
    <h1>New Melee Weapon</h1>
</div>

<div class="form-horizontal">

    <div class="form-group">
        <label class="col-sm-1 control-label">Name</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" placeholder="Name">
        </div>
        <label class="col-sm-1 control-label">Skill</label>
        <div class="col-sm-5">
            <select class="form-control">
                <option>Blades</option>
                <option>Clubs</option>
                <option>Exotic Melee</option>
                <option>Unarmed Combat</option>
            </select>
        </div>    
    </div>

    <div class="form-group">
        <label class="col-sm-1 control-label">Acc.</label>
        <div class="col-sm-1">
            <input type="number" class="form-control">
        </div>

        <label class="col-sm-1 control-label">Reach</label>
        <div class="col-sm-1">
            <input type="number" class="form-control">
        </div>

        <label class="col-sm-1 control-label">DV</label>
        <div class="col-sm-1">
            <input type="text" class="form-control">
        </div>

        <label class="col-sm-1 control-label">AP</label>
        <div class="col-sm-1">
            <input type="number" class="form-control">
        </div>

        <label class="col-sm-1 control-label">Avail.</label>
        <div class="col-sm-1">
            <input type="text" class="form-control">
        </div>

        <label class="col-sm-1 control-label">Cost</label>
        <div class="col-sm-1">
            <input type="number" class="form-control">
        </div>
    </div>

</div>