<div class="page-header">
    <h1>Melee Weapons</h1>
</div>

<table class="table table-hover">
    
    <thead>
        <tr>
            <th class="col-md-1">Item</th>
            <th class="col-md-1">Skill</th>
            <th class="col-md-1">Reach</th>
            <th class="col-md-1">Accuracy</th>
            <th class="col-md-1">DV</th>
            <th class="col-md-1">AP</th>
            <th class="col-md-1">Availability</th>
            <th class="col-md-1">Cost</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="(id, item) in list">
            <td class="col-md-1">
                <a href="#/melee/{{id}}">{{item.name}}</a>
            </td>
            <td class="col-md-1">{{item.skill.capitalize()}}</td>
            <td class="col-md-1">{{item.reach}}</td>
            <td class="col-md-1">{{item.acc}}</td>
            <td class="col-md-1" ng-switch="item.str">
                <span ng-switch-when="true">(STR + {{item.damage}}){{item.damageType}}</span>
                <span ng-switch-default>{{item.damage}}{{item.damageType}}</span>
            </td>
            <td class="col-md-1">{{item.ap}}</td>
            <td class="col-md-1">{{item.avail}}{{item.availType}}</td>
            <td class="col-md-1">${{item.cost}}</td>

        </tr>
    </tbody>

</table>