<nav class="navbar navbar-default" role="navigation" ng-controller="NavbarCtrl">

    <div class="container">
        <a class="navbar-brand" href="#/">SR5</a>
        <ul class="nav navbar-nav" ng-show="user">
            <li><a href="#/pc">Character Sheet</a></li>
            <li><a href="#/store">Store</a></li>
        </ul>
        <div class="nav navbar-nav navbar-right" ng-show="user">
            <span class="btn btn-primary navbar-btn"  ng-click="logout()">Sign Out</span>
        </div>
    </div>

</nav>