<form role="form" class="form-horizontal" name="form" ng-submit="add()">
    <div class="form-group">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="Name" ng-model="new['name']" ng-required="true" >
        </div>
        <label class="col-sm-2 control-label">Max. Rating</label>
        <div class="col-sm-2">
            <input type="number" class="form-control" placeholder="Max. Rating" ng-model="new['max_rating']">
        </div>
    </div>

    <div class="form-group" ng-repeat="field in fields" ng-switch="field">
        <label class="col-sm-2 control-label">{{field}}</label>

        <div class="col-sm-10" ng-switch-when="Damage">
            <div ng-include="'views/form/damage.html'"></div>
        </div>

        <div class="col-sm-10" ng-switch-default>
            <input type="number" class="form-control" placeholder="{{field}}" ng-model="new[field.toLowerCase()]">
        </div>

    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
            <textarea class="form-control" ng-model="new['description']"></textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-6 col-sm-offset-2">
            <input type="submit" class="btn btn-primary" ng-disabled="form.$invalid || isUnchanged(new)"></input>
        </div>
    </div>
</form>