<ul>
    <li><a href='#/store/melee'>Melee Weapons</a></li>
    <li><a href='#/store/ranged'>Ranged Weapons</a></li>
    <li><a href='#/store/weaponmod'>Firearm Accessories</a></li>
    <li><a href='#/store/ammo'>Ammunition</a></li>
    <li><a href='#/store/grenade'>Grenades, Rockets, Missiles</a></li>
    <li><a href='#/store/armor'>Armor</a></li>
    <li><a href='#/store/armormod'>Armor Modifications</a></li>
    <li><a href='#/store/device'>Electronic Devices</a></li>
    <li><a href='#/store/optical'>Optical Devices</a></li>
    <li><a href='#/store/audio'>Audio Devices</a></li>
    <li><a href='#/store/sensor'>Sensors</a></li>
    <li><a href='#/store/augmentation'>Augmentation</a></li>
</ul>